@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.copyright-text{
font-family: 'Dongle';
font-style: normal;
font-weight: 400;
font-size: 30.9747px;
line-height: 31px;
/* identical to box height, or 100% */
text-align: center;
}
