@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');

.main-text{
    font-family: 'Mukta Malar';
    font-style: normal;
    font-weight: 800;
    /* font-size: 65.0429px; */
    /* line-height: 60px; */
    letter-spacing: -0.005em;
    /* color: #FFFFFF; */
} 

.sub-text{
    /* font-family: 'Dhyana'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* color: #C5C6C7; */
    /* width: 672px; */
    /* height: 128px; */
}

/* .hero-button{
    /* width: 179px;
    height: 57px; */
    /* background: #18BED4;
    border-radius: 50px; */
/* } */
